service_account_key_file = "/home/bender/otus/key.json"
cloud_id                 = "db1gkh3ph48hkh31mdtno"
folder_id                = "db1ghgvpnnargvfujm4p9"
subnet_id                = "de9bafsjttjgqetoe8mau"
#family_id                = "ubuntu-1604-lts"
disk_id                  = "1fd87k1od4v1bth3m59ha"
public_key_path          = "~/.ssh/id_ed25519.pub"
name                     = "logging"
instance_count = "2"
ssh_user = "user"
instance_count           = "1"
private_key_path              = "~/.ssh/id_ed25519"
